.Home {
  height: 100vh;
  background-color: #242333;
  width: 100%;
  padding-top: 10vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
}
.Contactbtn {
  color: #ffffff;
  background-color: #01b0d3;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;

  cursor: pointer;
  padding: 5px 20px;
  border-radius: 20px;
  transition: all 300ms ease-in;
}
.Contactbtn:hover {
  background-color: #242333;
  outline: 2px solid #01b0d3;
}
.Pic {
  align-self: center;
  justify-self: center;
}
.Pic > img {
  height: 18rem;
}
.DownloadRes {
  color: #ffffff;
  background-color: #242333;
  border: none;
  outline: 2px solid #01b0d3;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 20px;
  margin-left: 10px;
  transition: all 300ms ease-in;
}
.DownloadRes:hover {
  outline: 2px solid #ffffff;
}
.Typewriter {
  font-size: 3rem;
  color: #ffffff;
  margin-top: 8px;
}
.Hi {
  font-size: 1.8rem;
  color: #01b0d3;
}
.Description {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin-top: 8px;
}
@media (max-width: 1088px) {
  .Typewriter {
    font-size: 2.8rem;
  }
}

@media (max-width: 1015px) {
  .Typewriter {
    font-size: 2.6rem;
  }
  .Pic > img {
    height: 17rem;
  }
  .Hi {
    font-size: 1.7rem;
  }
}

@media (max-width: 942px) {
  .Typewriter {
    font-size: 2.4rem;
  }
  .Description {
    font-size: 0.9rem;
  }
}
@media (max-width: 870px) {
  .Typewriter {
    font-size: 2.2rem;
  }
  .Pic > img {
    height: 15rem;
  }
  .Description {
    font-size: 0.8rem;
  }
  .Hi {
    font-size: 1.6rem;
  }
}
@media (max-width: 818px) {
  .DownloadRes {
    padding: 5px 18px;
  }
}
@media (max-width: 808px) {
  .Contactbtn {
    display: block;
  }
  .DownloadRes {
    margin-left: 0;
    margin-bottom: 2px;
  }
}

@media (max-width: 800px) {
  .Typewriter {
    font-size: 2.1rem;
  }
  .Pic > img {
    height: 14rem;
  }
  .Hi {
    font-size: 1.5rem;
  }
}

@media (max-width: 764px) {
  .Typewriter {
    font-size: 1.8rem;
  }
  .Hi {
    font-size: 1.3rem;
  }
}

@media (max-width: 657px) {
  .Typewriter {
    font-size: 1.6rem;
  }
  .Pic > img {
    height: 12rem;
  }
  .Hi {
    font-size: 1.1rem;
  }
}

@media (max-width: 586px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 521px) {
  /* .Home {
    display: block;
    margin-top: 40px;
  } */
  .container {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
  }
  .Pic > img {
    height: 8rem;
  }
  .Contactbtn {
    display: inline-block;
  }
  .DownloadRes {
    margin-left: 10px;
    padding: 5px 15px;
  }
}
